{
  "swagger" : "2.0",
  "info" : {
    "description" : "RESTful API for the Denner Public",
    "version" : "1.0.0",
    "title" : "Denner Public",
    "contact" : {
      "name" : "DETAIL NET",
      "email" : "support+denner-public-api@detailnet.ch"
    }
  },
  "host" : "denner-public-api.detailnet.ch",
  "basePath" : "/v1",
  "schemes" : [ "https" ],
  "consumes" : [ "application/json" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "/online-articles" : {
      "get" : {
        "tags" : [ "online" ],
        "summary" : "List all online articles",
        "description" : "Use this operation to get a list of all articles currently advertised.\n",
        "operationId" : "listPublicOnlineArticles",
        "parameters" : [ {
          "name" : "page",
          "in" : "query",
          "description" : "The page number. Default: 1\n",
          "required" : false,
          "type" : "integer",
          "default" : 1,
          "minimum" : 0.0,
          "format" : "int32"
        }, {
          "name" : "page_size",
          "in" : "query",
          "description" : "The page size. Default: -1 (no limit)\n",
          "required" : false,
          "type" : "integer",
          "default" : -1,
          "format" : "int32"
        } ],
        "responses" : {
          "200" : {
            "description" : "Successful listing",
            "schema" : {
              "$ref" : "#/definitions/PublicOnlineArticlesResponse"
            },
            "examples" : {
              "application/json" : {
                "page_count" : 1,
                "page_size" : 1,
                "total_items" : 1,
                "online_articles" : [ {
                  "id" : "dfbc2b0d-0f47-4ac2-86e5-3bd4f9936ef6",
                  "article_id" : "051273",
                  "title" : [ {
                    "locale" : "de",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  }, {
                    "locale" : "fr",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  }, {
                    "locale" : "it",
                    "value" : "Mandorla Primitivo di Puglia IGT"
                  } ],
                  "description" : [ {
                    "locale" : "de",
                    "value" : "2013, Apulien, Italien, 6 x 75 cl"
                  }, {
                    "locale" : "fr",
                    "value" : "2013, les Pouilles, Italie, 6 x 75 cl"
                  }, {
                    "locale" : "it",
                    "value" : "2013, Puglia, Italia, 6 x 75 cl"
                  } ],
                  "prices" : {
                    "sales" : 59.4,
                    "instead" : 68.4,
                    "base" : 1.32,
                    "by_quantity" : [ {
                      "quantity" : 1,
                      "sales" : 9.9,
                      "instead" : 11.4
                    }, {
                      "quantity" : 6,
                      "sales" : 59.4,
                      "instead" : 68.4
                    } ]
                  },
                  "price_info" : [ {
                    "locale" : "de",
                    "value" : "Konkurrenzvergleich"
                  }, {
                    "locale" : "fr",
                    "value" : "Comparaison concurrentielle"
                  }, {
                    "locale" : "it",
                    "value" : "Confronto con la concorrenza"
                  } ],
                  "promotion_info" : [ {
                    "locale" : "de",
                    "value" : "Aktionspreise für Einzelflaschen nur in der jeweiligen Aktionswoche gültig"
                  }, {
                    "locale" : "fr",
                    "value" : "Les prix promotionnels sur les bouteilles vendues à la pièce ne sont valables que durant la semaine d’action"
                  }, {
                    "locale" : "it",
                    "value" : "I prezzi promozionali delle singole bottiglie sono validi solo nella rispettiva settimana promozionale"
                  } ],
                  "quantity" : 6,
                  "validity" : {
                    "from" : "2015-06-23",
                    "to" : "2015-06-29",
                    "short_text" : [ {
                      "locale" : "de",
                      "value" : "Gültig von 23.06.–29.06."
                    }, {
                      "locale" : "fr",
                      "value" : "..."
                    }, {
                      "locale" : "it",
                      "value" : "..."
                    } ],
                    "long_text" : [ {
                      "locale" : "de",
                      "value" : "Angebot gültig von 23.06.2015 bis 29.06.2015"
                    }, {
                      "locale" : "fr",
                      "value" : "..."
                    }, {
                      "locale" : "it",
                      "value" : "..."
                    } ]
                  },
                  "availability_limitations" : {
                    "region" : [ {
                      "locale" : "de",
                      "value" : "Nur in der deutschen und französischen Schweiz erhältlich"
                    }, {
                      "locale" : "fr",
                      "value" : "..."
                    }, {
                      "locale" : "it",
                      "value" : "..."
                    } ],
                    "store" : [ {
                      "locale" : "de",
                      "value" : "Nur in Filialen mit Frischprodukten erhältlich"
                    }, {
                      "locale" : "fr",
                      "value" : "Disponible(s) uniquement dans les succursales aves des produits frais"
                    }, {
                      "locale" : "it",
                      "value" : "..."
                    } ]
                  },
                  "promoted" : true,
                  "compared" : true,
                  "online_group" : {
                    "id" : "671988cc-ca5f-484e-8db8-23a65ea0044a",
                    "code" : 4003,
                    "title" : [ {
                      "locale" : "de",
                      "value" : "Wein"
                    }, {
                      "locale" : "fr",
                      "value" : "Vins"
                    }, {
                      "locale" : "it",
                      "value" : "Vini"
                    } ],
                    "parent" : {
                      "id" : "5b79391b-b436-45f9-b3e4-93ec3ae1fae2",
                      "code" : 4001,
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Tafelgetränke und Mineralwasser"
                      }, {
                        "locale" : "fr",
                        "value" : "Boissons table et eau minérale"
                      }, {
                        "locale" : "it",
                        "value" : "Bevande da tavola e acque minerali"
                      } ]
                    }
                  },
                  "packshot" : {
                    "id" : "5983a33d-ac61-49a8-a836-43259e78e9d0",
                    "cdn_url" : "https://denner.imgix.net/assets/5983a33d-ac61-49a8-a836-43259e78e9d0/051273_6.png"
                  },
                  "wine" : {
                    "country" : {
                      "id" : "IT",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Italien"
                      }, {
                        "locale" : "fr",
                        "value" : "Italie"
                      }, {
                        "locale" : "it",
                        "value" : "Italia"
                      } ]
                    },
                    "region" : {
                      "id" : "b19c42bf-ed78-46ff-ad6f-fc688a059e6a",
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Apulien"
                      }, {
                        "locale" : "fr",
                        "value" : "Les Pouilles"
                      }, {
                        "locale" : "it",
                        "value" : "Puglia"
                      } ]
                    },
                    "type" : {
                      "id" : 2,
                      "title" : [ {
                        "locale" : "de",
                        "value" : "Rotwein"
                      }, {
                        "locale" : "fr",
                        "value" : "Vin rouge"
                      }, {
                        "locale" : "it",
                        "value" : "Vino rosso"
                      } ]
                    },
                    "year" : 2013,
                    "fits_with" : [ {
                      "locale" : "de",
                      "value" : "Pasta, Fleisch mit würzigen Saucen"
                    }, {
                      "locale" : "fr",
                      "value" : "Pâtes, viande aux sauces relevées"
                    }, {
                      "locale" : "it",
                      "value" : "Pasta, carni accompagnate da salse aromatiche"
                    } ],
                    "varietal" : [ {
                      "locale" : "de",
                      "value" : "Primitivo"
                    }, {
                      "locale" : "fr",
                      "value" : "Primitivo"
                    }, {
                      "locale" : "it",
                      "value" : "Primitivo"
                    } ],
                    "character" : [ {
                      "locale" : "de",
                      "value" : "Dunkles Rubinrot. In der Nase Aromen von roten Beeren, reifen Kirschen und Brombeeren. Geschmeidig im Gaumen."
                    }, {
                      "locale" : "fr",
                      "value" : "Robe rubis foncé. Nez de baies rouges, de cerises matures et de mûres. Bouche moelleuse."
                    }, {
                      "locale" : "it",
                      "value" : "Rosso rubino scuro. Al naso aromi di bacche rosse, ciliege mature e more. Morbido al palato."
                    } ],
                    "temperature" : [ {
                      "locale" : "de",
                      "value" : "16-18 °C"
                    }, {
                      "locale" : "fr",
                      "value" : "16-18 °C"
                    }, {
                      "locale" : "it",
                      "value" : "16-18 °C"
                    } ],
                    "awards" : [ {
                      "locale" : "de",
                      "value" : ""
                    }, {
                      "locale" : "fr",
                      "value" : ""
                    }, {
                      "locale" : "it",
                      "value" : ""
                    } ],
                    "storage" : [ {
                      "locale" : "de",
                      "value" : "3 Jahre"
                    }, {
                      "locale" : "fr",
                      "value" : "3 ans"
                    }, {
                      "locale" : "it",
                      "value" : "3 anni"
                    } ]
                  }
                } ]
              }
            }
          }
        },
        "security" : [ {
          "appKey" : [ ]
        } ]
      }
    }
  },
  "securityDefinitions" : {
    "appKey" : {
      "type" : "apiKey",
      "name" : "App-Key",
      "in" : "header"
    }
  },
  "definitions" : {
    "UUIDv4" : {
      "type" : "string",
      "description" : "Unique identifier"
    },
    "Locale" : {
      "type" : "string",
      "description" : "Locale"
    },
    "Translation" : {
      "type" : "object",
      "properties" : {
        "locale" : {
          "$ref" : "#/definitions/Locale"
        },
        "value" : {
          "type" : "string",
          "description" : "Translated text value"
        }
      }
    },
    "Url" : {
      "type" : "string",
      "description" : "Web URL address"
    },
    "PublicCountry" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "string",
          "description" : "Country code definition from ISO 3166",
          "pattern" : "/^[A-Z]{2}$/"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      },
      "description" : "Country"
    },
    "Date" : {
      "type" : "string",
      "format" : "date",
      "description" : "Date; Format full-date of RFC3339 (http://xml2rfc.ietf.org/public/rfc/html/rfc3339.html#anchor14)"
    },
    "Year" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Year"
    },
    "Price" : {
      "type" : "number",
      "format" : "float",
      "description" : "Price in CHF"
    },
    "Quantity" : {
      "type" : "integer",
      "format" : "int32",
      "description" : "Quantity"
    },
    "ArticleValidity" : {
      "type" : "object",
      "properties" : {
        "from" : {
          "$ref" : "#/definitions/Date"
        },
        "to" : {
          "$ref" : "#/definitions/Date"
        },
        "short_text" : {
          "$ref" : "#/definitions/Translations"
        },
        "long_text" : {
          "$ref" : "#/definitions/Translations"
        }
      },
      "description" : "Article validity based on dates (from/to) and corresponding texts (short and long version)"
    },
    "AvailabilityLimitations" : {
      "type" : "object",
      "properties" : {
        "region" : {
          "$ref" : "#/definitions/Translations"
        },
        "store" : {
          "$ref" : "#/definitions/Translations"
        }
      },
      "description" : "Texts for information about limited availability"
    },
    "PublicArticlePrices" : {
      "type" : "object",
      "properties" : {
        "sales" : {
          "$ref" : "#/definitions/Price"
        },
        "instead" : {
          "$ref" : "#/definitions/Price"
        },
        "base" : {
          "$ref" : "#/definitions/Price"
        },
        "by_quantity" : {
          "$ref" : "#/definitions/PublicQuantityPrices"
        }
      }
    },
    "PublicQuantityPrices" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PublicQuantityPrice"
      }
    },
    "PublicQuantityPrice" : {
      "type" : "object",
      "properties" : {
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "sales" : {
          "$ref" : "#/definitions/Price"
        },
        "instead" : {
          "$ref" : "#/definitions/Price"
        }
      }
    },
    "PublicPackshot" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "cdn_url" : {
          "$ref" : "#/definitions/Url"
        }
      }
    },
    "PublicArticleWine" : {
      "type" : "object",
      "properties" : {
        "country" : {
          "$ref" : "#/definitions/PublicCountry"
        },
        "region" : {
          "$ref" : "#/definitions/Region"
        },
        "type" : {
          "$ref" : "#/definitions/WineType"
        },
        "year" : {
          "$ref" : "#/definitions/Year"
        },
        "fits_with" : {
          "$ref" : "#/definitions/Translations"
        },
        "varietal" : {
          "$ref" : "#/definitions/Translations"
        },
        "character" : {
          "$ref" : "#/definitions/Translations"
        },
        "temperature" : {
          "$ref" : "#/definitions/Translations"
        },
        "awards" : {
          "$ref" : "#/definitions/Translations"
        },
        "storage" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "Region" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "WineType" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision wine type code",
          "minimum" : 0.0
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        }
      }
    },
    "PublicOnlineArticle" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "article_id" : {
          "type" : "string",
          "description" : "Navision article code",
          "pattern" : "/^\\d{6}$/"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "description" : {
          "$ref" : "#/definitions/Translations"
        },
        "prices" : {
          "$ref" : "#/definitions/PublicArticlePrices"
        },
        "price_info" : {
          "$ref" : "#/definitions/Translations"
        },
        "promotion_info" : {
          "$ref" : "#/definitions/Translations"
        },
        "quantity" : {
          "$ref" : "#/definitions/Quantity"
        },
        "validity" : {
          "$ref" : "#/definitions/ArticleValidity"
        },
        "availability_limitations" : {
          "$ref" : "#/definitions/AvailabilityLimitations"
        },
        "promoted" : {
          "type" : "boolean",
          "description" : "Is it a promoted article (should be displayed with full information)?"
        },
        "compared" : {
          "type" : "boolean",
          "description" : "Is the article's price compared to an offer from an other company?"
        },
        "online_group" : {
          "$ref" : "#/definitions/PublicAssignedOnlineGroup"
        },
        "packshot" : {
          "$ref" : "#/definitions/PublicPackshot"
        },
        "wine" : {
          "$ref" : "#/definitions/PublicArticleWine"
        }
      }
    },
    "PublicAssignedOnlineGroup" : {
      "type" : "object",
      "properties" : {
        "id" : {
          "$ref" : "#/definitions/UUIDv4"
        },
        "code" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "Navision online group code"
        },
        "title" : {
          "$ref" : "#/definitions/Translations"
        },
        "parent" : {
          "$ref" : "#/definitions/PublicAssignedOnlineGroup"
        }
      }
    },
    "Translations" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/Translation"
      }
    },
    "PublicOnlineArticles" : {
      "type" : "array",
      "items" : {
        "$ref" : "#/definitions/PublicOnlineArticle"
      }
    },
    "PublicOnlineArticlesResponse" : {
      "type" : "object",
      "properties" : {
        "page_count" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of pages"
        },
        "page_size" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The page size"
        },
        "total_items" : {
          "type" : "integer",
          "format" : "int32",
          "description" : "The number of items on all pages"
        },
        "articles" : {
          "$ref" : "#/definitions/PublicOnlineArticles"
        }
      }
    }
  },
  "parameters" : {
    "PageParam" : {
      "name" : "page",
      "in" : "query",
      "description" : "The page number. Default: 1\n",
      "required" : false,
      "type" : "integer",
      "default" : 1,
      "minimum" : 0.0,
      "format" : "int32"
    },
    "PageSizeParam" : {
      "name" : "page_size",
      "in" : "query",
      "description" : "The page size. Default: -1 (no limit)\n",
      "required" : false,
      "type" : "integer",
      "default" : -1,
      "format" : "int32"
    }
  }
}